div {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
table {
  width: 100%;
}
.edit {
  margin-right: 10px;
}
.edit > i {
  color: #d9cd26;
}
.delete > i {
  color: #e35e6b;
}